# Conditions Operations

In [1]:
a=10

In [2]:
b=15

In [3]:
a==b

False

In [4]:
c=10

In [5]:
a==c

True

In [6]:
a!=b

True

In [7]:
a>b

False

In [8]:
a<b

True

In [9]:
a>=b

False

In [10]:
a<=b

True

In [11]:
not a==b

True

In [12]:
not a==c

False

# Chained Comparison Operator

In [13]:
d=15

In [14]:
a==c and b==d

True

In [15]:
a==c or b==a

True

In [17]:
not a==c

False

In [18]:
a!=c and b==d

False

# Python Statements

-If else
-if el else
-for
-while

In [20]:
if a==b :
    print(a)
else :
    print(b)

15

In [24]:
value =a%2
print(value)
if value > 0:
   print ("odd number")
else :
    print ("even number")

0
even number

Multiple Branches of if else

In [26]:
if a==b :
    print( "a and b is equal")
elif b==c :
    print( "b and c is equal")
else :
    print(" both condtions are not satified")

a and b is equal

In [29]:
x = 80

if x<=50 :
    print("Below Average")
elif x>50 and x<=75 :
    print( "Average")
else :
    print("Excellent")

Excellent

# For Loop

In [30]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [32]:
for x in my_list :
    print("value is",x)

value is 1
value is 2
value is 3
value is 4
value is 5
value is 6
value is 7

In [34]:
for x in my_list :
    if x%2==0 :
        print("Even number if",x)
    elif x%2==1 :
        print("Odd number is",x)

Odd number is 1
Even number if 2
Odd number is 3
Even number if 4
Odd number is 5
Even number if 6
Odd number is 7

In [35]:
my_string ="Hello World"
for x in my_string :
    print(x)

H
e
l
l
o

W
o
r
l
d

In [36]:
t = (1,2,3,4,5,6)
for x in t :
    print(x)

1
2
3
4
5
6

In [39]:
list_tuple = [(1,2),(3,4),(5,6),(7,8)]
for (t1,t2) in list_tuple :
    print(t1,t2)

1 2
3 4
5 6
7 8

In [46]:
d = {'k1':1,'k2':2,'k3':3}
for (k,v) in d :
    print(k,v)

k 1
k 2
k 3

In [45]:
list(d.keys())

['k1', 'k2', 'k3']

In [47]:
list(d.values())

[1, 2, 3]

In [48]:
sorted(d.values())

[1, 2, 3]

In [49]:
num = 100

if num > 1:   
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")          
           break
   else:
       print(num,"is a prime number")       

else:
   print(num,"is not a prime number")

100 is not a prime number
2 times 50 is 100

start = 1
end = 100
for prime in range(start,end):   
   if prime > 1:
       for i in range(2,prime):
           if (prime % i) == 0:
               break
       else:
             print(prime)

In [69]:
for test in t :
    print(test)
else :
    print("completed")

1
2
3
4
5
6
completed

In [70]:
x = 0
while x < 10 :
    print("X value is",x);
    x += 1;
else :
    print("x is greter than 10")

X value is 0
X value is 1
X value is 2
X value is 3
X value is 4
X value is 5
X value is 6
X value is 7
X value is 8
X value is 9
x is greter than 10

In [75]:
for num in range(1,10):
   
    if(num > 5 and num < 8) :
      continue
    print(num)
        
    if num > 8 :
        break

1
2
3
4
5
8
9

# Range

In [76]:
my_list = [1,2,3,4,5,6,7]
for i in my_list :
    print(i)

1
2
3
4
5
6
7

In [77]:
my_list = list(range(1,15))

In [79]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Random

 from randam import randint

In [80]:
randint(0,99)

NameError: name 'randint' is not defined

In [81]:
input("Enter your number :")

Enter your number :10

'10'

In [83]:
int (input("Enter your number :"))

Enter your number :67

67